{% extends "main.html" %}
{% load static %}

{% block assets %}
    <script src="{% static 'js/clipboard.min.js' %}"></script>
    <script src="{% static 'js/apexcharts.js' %}"></script>
{% endblock %}

{% block statics %}
    <link rel="stylesheet" href="{% static 'css/emprestimos.css' %}?v=1.0.0">
    <script src="{% static 'js/emprestimos.js' %}?v=1.0.0" defer></script>
{% endblock %}


{% block title %}
    Emprestimos
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'emprestimos' %}" class="text-decoration-none text-dark">
            <i class="bi bi-cash-stack me-3"></i>Emprestimos
        </a>
    </li>
{% endblock %}


{% block content %}
    <section id="esmprestimo-container">
        <div class="row justify-content-between my-3">
            <div class="col-xs-12 col-md-6 col-lg-3 p-0">
                <div class="rounded bg-white p-3 m-2">
                    <div class="fw-bold d-flex flex-column justify-content-center align-items-center emp-info">
                        <span class="fs-5 d-block">Valor Emprestado</span>
                        <span class="fs-1 d-block">R$ {{emprestimo.valor_emprestado|floatformat:2}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3 p-0">
                <div class="rounded bg-white p-3 m-2">
                    <div class="fw-bold d-flex flex-column justify-content-center align-items-center emp-info">
                        <span class="fs-5 d-block">Total Pago</span>
                        <span class="fs-1 d-block">R$ {{emprestimo.total_pago|floatformat:2}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3 p-0">
                <div class="rounded bg-white p-3 m-2">
                    <div class="fw-bold d-flex flex-column justify-content-center align-items-center emp-info">
                        <span class="fs-5 d-block">Saldo Atual</span>
                        <span class="fs-1 d-block">R$ {{emprestimo.saldo_atual|floatformat:2}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3 p-0">
                <div class="rounded bg-white p-3 m-2">
                    <div class="fw-bold d-flex flex-column justify-content-center align-items-center emp-info">
                        <span class="fs-5 d-block">Juros Mensal</span>
                        <span class="fs-1 d-block">{{emprestimo.juros_mensal|floatformat:2}}%</span>
                        R$ {{valor_juros|floatformat:2}}
                    </div>
                </div>
            </div>
        </div>
        <div>
            <img src="data:image/png;base64,{{pix.qrcode}}" alt="qr-code" width="150" height="150">
            <button id="copy-code" class="btn btn-primary" data-clipboard-text="{{pix.payload}}">Copiar código do QR Code</button>
        </div>
    </section>
    <br>
    {{pagamentos}}
{% endblock %}