{% extends "main.html" %}
{% load static %}

{% block statics %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}?v=1.0.1">
{% endblock %}

{% block title %}
    Página Inicial
{% endblock %}


{% block content %}
    <section>
        <div class="d-flex align-items-center justify-content-center flex-column mb-5">
            <span id="logo">
                <i class="bi bi-coin me-3"></i>
                <span class="font-monospace fw-bold"> FinanControl</span>
            </span>
            <small></small>
        </div>
    </section>

    <!-- Formulário -->
    <section id="search-form" class="m-auto mb-5 pb-5">
        <form action="{% url 'negociacoes' %}" method="get" class="w-100 position-relative">
            {% csrf_token %}
            <div class="form-control rounded-pill input-group d-flex align-items-center search-bar" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-search fs-3 text-muted"></i>
                <input type="text" class="form-control input-search border-0 mx-3 rounded-pill" name="code_id" placeholder="Digite seu código...">
                <button type="submit" class="btn btn-primary rounded-pill">Pesquisar</button>
            </div>
            <div class="dropdown-menu w-100 p-3 border" aria-labelledby="dropdownMenuButton1">
                <h5>Pesquisas</h5>
                <ul class="list-unstyled">
                    <li><a class="dropdown-item rounded-pill" href="{% url 'negociacoes' %}?code_id=FS001">
                        <i class="bi bi-clock-history me-2 text-warning"></i> 
                        <span class="text-muted">FS001</span>
                    </a></li>
                    <li><a class="dropdown-item rounded-pill" href="{% url 'negociacoes' %}?code_id=FH001">
                        <i class="bi bi-clock-history me-2 text-warning"></i> 
                        <span class="text-muted">FH001</span>
                    </a></li>
                </ul>
            </div>
        </form>
    </section>
    
{% endblock %}